*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}
.container{
    height: 100vh;
    width: 100vw;
    /* width: 207vh; */
    background-image: url(./pic/image.png);
    background-size: cover;
}

.logo {
    width: 140px;
    cursor: pointer;
}

.navbar {
    padding: 0 5rem 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar_content ul {
    display: flex;
    gap: 2rem;
}

.navbar_content ul li a {
    color: #5f5f5f;
    font-size: 1.2rem;
    transition: 0.3 ease;
}

.navbar_content li a:hover {
    color: palevioletred;
}

.navbar_content li a:hover::after,
.navbar_content li a.active::after{
    content: '';
    width: 30%;
    height: 2px;
    background: palevioletred;
    position: absolute;
    bottom: -4px;
    left: 20px;
    /* bottom: -1rem; */
}

.content{
    position: absolute;
    top: 30%;
    width: 100%;
}
.left-color{
    margin-left: 6%;
}
.left-color h1{
    font-size: 90px;
    color: #fff;
    line-height: 110%;
    float: left;
}
.rigth-color{
    float: right;
    margin-right: 6%;
    margin-top: 120px;
    display: flex;
    align-items: center;
}
.rigth-color p{
    font-size: 18px;
    color: #5f5f5f;
    font-weight: 400;
    margin-right: 15px;
}
#icon{
    width: 80px;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .navbar{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}